@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

html{
    background-image: url('../public/images/pattern.png');
    background-size: 10%;
}
svg{
    vertical-align: bottom !important;
}

h1, h2, h3{
    font-family: 'Chakra Petch', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #9554FF;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ff5a21;    /* color of the scroll thumb */
  }