@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

html{
    background-image: url('../public/images/pattern.png');
    background-size: 10%;
}
svg{
    vertical-align: bottom !important;
}

h1, h2, h3{
    font-family: 'Chakra Petch', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
background: #9554FF;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ff5a21 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #00a6e2;
}

code{
color: #ff5a21 !important;
}