@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
  background-image: url('../public/pattern.png');
  background-size: 20%;
  background-repeat: repeat;
  
}

h1, h2, h3, .chakra{
    font-family: 'Chakra Petch', sans-serif;
    /* font-weight: 500; */
}

div, p, span {
  font-family: "Inter", sans-serif;
}

.dark h1, .dark h2, .dark h3, .dark .chakra{
  background: linear-gradient(180deg, white, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .dark h1, .dark h2, .dark h3, .dark .chakra {
    background: none; /* Remove the gradient */
    -webkit-text-fill-color: rgb(226, 226, 226); /* Make the text white */
  }
}

.dark div, .dark p, .dark span {
  color: #B9C3DE;
}

.light div, .light p, .light span {
  color: black
}

.transitionQ {
  transition: 800ms ease;
  transition: all 0.8s;
}

.wrapper {
  transition: 600ms ease;
}

/* Light mode */
.wrapper.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
.wrapper.dark {
  background-color: #0C0E13;
  color: #ffffff;
}


.red-glow {
  box-shadow: 0px 0px 104px 0px rgba(224,0,0,0.30);
  -webkit-box-shadow: 0px 0px 104px 0px rgba(224,0,0,0.30);
  -moz-box-shadow: 0px 0px 104px 0px rgba(224,0,0,0.30);
}

.purple-glow {
  box-shadow: 0px 0px 104px 0px rgba(168, 0, 224, 0.3);
  -webkit-box-shadow: 0px 0px 104px 0px rgba(168, 0, 224, 0.3);
  -moz-box-shadow: 0px 0px 104px 0px rgba(168, 0, 224, 0.3);
}

.blue-glow {
  box-shadow: 0px 0px 104px 0px rgba(0, 131, 224, 0.5);
  -webkit-box-shadow: 0px 0px 104px 0px rgba(0, 151, 224, 0.5);
  -moz-box-shadow: 0px 0px 104px 0px rgba(0, 131, 224, 0.5);
}
